@charset "UTF-8";
@import 'formObject';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1em;
  transition: all 200ms ease-out;
}

body {
  width: 100%;
}

.contets {
  text-align: center;
  padding: 10px;
}


body {
	// background: #333;
	// color: #fff;

	.option {
		h1 {
			margin: 1.5em 0 0.7em;
			// color: #fff;
			border-bottom: 1px solid #fff;
			font-weight: 200;
			height: 75px;

			.version {
				color: rgba($TEXTCOLOR,0.2);
				font-weight: 100;
				font-size: 15px;
			}
		}
		// text-shadow: 1px 1px 1px #000;
		max-width: 500px;
		font-size: 17px;
		line-height: 3em;
		margin: 0 auto;

		.checkboxBlock {
			position: relative;
			height: 60px;
		}
    .group{
      padding: 50px 0;
      font-size: 12px;
    }
    .group-ttl{
      font-size: 15px;
      margin-bottom: 20px;
    }
		input {
			// display: none;
      margin-left: 30px;
		}
    form{
      padding: 1em 0;
    }
    input[type=text]{
      width: 380px;
      padding: 1em;
      &::selection{
        color: #fff;
        background: $SELECTCOLR;
      }
    }


		label {
			// padding-left: 30px;
			cursor: pointer;
			user-select: none;
			// font-size: 19px;
			font-weight: 100;
		}
	}
}
