@charset "UTF-8";
@import "formObject";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1em;
  transition: all 200ms ease-out;
}

// ダークモード
@media (prefers-color-scheme: dark) {
  body {
    background-color: #232323;
    color: #fff;
  }
  a {
    color: #fff;
  }
}

body {
  width: 100%;
}

.contets {
  text-align: center;
  padding: 10px;
}

body {
  // background: #333;
  // color: #fff;

  .option {
    max-width: 500px;
    font-size: 17px;
    line-height: 3em;
    margin: 0 auto;

    .checkboxBlock {
      position: relative;
      height: 60px;
    }
    .group {
      padding: 50px 0;
      font-size: 12px;
    }
    .group-ttl {
      font-size: 15px;
      margin-bottom: 20px;
      fill: none;
      stroke: #000;
    }
    input {
      margin-left: 20px;
    }
    form {
      padding: 1em 0;
    }
    input[type="text"] {
      width: 380px;
      padding: 1em;
      &::selection {
        color: #fff;
        background: $SELECTCOLR;
      }
    }
    input[type="radio"] {
      margin-right: 10px;
    }
    label {
      // padding-left: 10px;
      cursor: pointer;
      user-select: none;
      font-weight: 100;
    }
  }
  .note {
    margin-top: 2em;
    line-height: 1.6em;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-indent: -1.5em;
    padding-left: 1.5em;
  }

  .history-clear {
    display: flex;
  }
}
