@charset "UTF-8";
@import 'formObject';
@import '_pop_qr';
@import '_pop_history';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1em;
  // transition: all 200ms ease-out;
}

body {
  width: 100%;
}

.contets {
  text-align: center;
  width: 160px;

  .contets_scroll {
    width: 320px;
    height: 200px;
  }
}

.contets_inline {
  display: flex;
  transition: all 150ms ease;

  &.history {
    transform: translateX(-160px);
  }
}

.contets {
  &.expansion {
    width: 276px;

    .contets_scroll {
      width: 552px;
      height: 200px;
    }

    #qr {
      width: 256px;
      height: 256px;

      canvas {
        width: 156px;
      }
    }

    .contets_inline {
      &.history {
        transform: translateX(-276px);
      }
    }
    .qr{
      textarea {
        width: calc(256px - 0.2em);
      }
    }
    .history-list {
      height: 312px;
    }
  }
}

.ctrl {
  display: flex;
  justify-content: space-between;
  // justify-content: space-around;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 10px - 10px);
}
