@charset "UTF-8";
@import "formObject";
@import "_pop_qr";
@import "_pop_history";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1em;
  // transition: all 200ms ease-out;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #232323;
    color: #fff;
  }
  a {
    color: #fff;
  }
  .qr {
    textarea {
      color: #fff;
    }
  }
  button.history,
  button {
    background: transparent;
    &:hover {
      background: transparent !important;
    }
  }
  &::selection {
    color: #000;
    background: yellow;
  }
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #232323;
  }
}

.contets {
  text-align: center;
  width: 160px;
  overflow-x: hidden;
  .contets_scroll {
    width: 320px;
  }
}

.contets_inline {
  display: flex;
  transition: all 150ms ease;
  &.history {
    transform: translateX(-160px);
  }
}

.contets {
  background: #fff;

  &.expansion {
    width: 276px;

    .contets_scroll {
      width: 552px;
    }

    #qr {
      width: 256px;
      height: 256px;
      background: #fff;
      canvas {
        width: 156px;
      }
    }

    .contets_inline {
      &.history {
        transform: translateX(-276px);
      }
    }
    .qr {
      textarea {
        font-size: 12px;
        width: calc(256px - 0.2em);
      }
    }
    .history-list {
      height: 312px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .contets {
    background: #434343;
  }
}

.ctrl {
  display: flex;
  justify-content: space-between;
  // justify-content: space-around;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 10px - 10px);
}
