include ./_popup_icons
<!DOCTYPE html>
html

 head
  title Quick Get QR & Short URL
  link(rel="stylesheet" href="css/perfect-scrollbar.css")
  link(rel="stylesheet" href="css/demo.css")
  link(rel="stylesheet" href="css/pop.css")

 body
  .contets
    .contets_scroll
     .contets_inline
       .qr
        .qr_wrap
          #qr
          a.download.button(href="#" download="#" title="Download")
            +download
            //- span.icon-folder-download(title="QR Download")
        .alert
        .textarea
         textarea.url(name="url")
        .ctrl
          button.bitly(title="bitly")
            +bitly
          button.undo(title="Undo")
            +undo
          button.copy(title="Copy")
            +copy
          button.history(title="History")
            +history



       .history_block
         .history-list
           div
             ul
         .ctrl
           button.back(title="Back")
             +arrow
           button.option(title="Option")
             +option


  script(src="lib/jquery.min.js")
  script(src="lib/jquery.qrcode.min.js")
  script(src="lib/perfect-scrollbar.min.js")
  script(src="lib/encoding.js")
  script(src="js/_history.js")
  script(src="js/popup.js")
