<!DOCTYPE html>
html

 head
  title QR CODE GENERATOR
  link(rel="stylesheet" href="css/demo.css")
  link(rel="stylesheet" href="css/pop.css")

 body
  .contets
   .qr
    #qr
    a.download.button(href="#" download="#")
     span.icon-folder-download(title="QR Download")

   .textarea
    textarea.url( name="url")

   .history-list
    ul

   .ctrl
    button.bitly bitly
    button.undo
     span.icon-undo
    button.copy(title="Copy")
     span.icon-copy

    button.history-clear(title="History clear")
     span.icon-history  Clear

    button.history(title="History")
     span.icon-history

    button.back(title="Back")
     span.icon-arrow-left2

  script(src="lib/jquery.min.js")
  script(src="lib/jquery.qrcode.min.js")
  script(src="js/popup.js")